* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  max-width: 448px;
  width: 100%;
}

.logo {
  max-width: 350px;
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.logo_img {
  width: 77px;
  height: 77px;
  margin: 0 16px 0 0;
}

.logo_text {
  max-width: 260px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 25px;
}

.form {
  width: 100%;
  height: 208px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 24px 32px 32px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.form_text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 500;
}

.form input::placeholder {
  color: rgb(167, 166, 173);
  font-weight: 600;
}

.form input {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 47px;
  padding: 8px 12px;
  margin-bottom: 32px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  box-shadow: 0px 0px 3px 0.2px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  color: rgb(19, 19, 19);
  letter-spacing: 1px;
  font-weight: 500;
}

.form_btn {
  width: 100%;
  padding: 12px 16px;
  border-radius: 4px;
  background-color: #4285f4;
  color: #fff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.form_btn:hover {
  background-color: #0f59ce;
}
